<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./left.css">
  <style>

  </style>
</head>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

<body>
  <div class="right-wrap">
    <div class="right-first-wrap">
      <p class="right-title">接口调用数量</p>
      <div class="right-first-content">
        <p class="right-tab"><span>接口名称</span>
          <span>状态</span>
          <span>所属单位</span>
          <span>调用条数（条）</span>
        </p>
        <div class="scroll-box">
          <ul>
            <li><span>全省教育厅高考录取教育厅高考录</span><span class="scroll-circle"></span><span>省教育厅</span><span>1077552</span>
            </li>
            <li><span>全省教育厅高考录取高考录取教育厅高考录取教育厅教育厅高考录取教</span><span
                class="scroll-circle"></span><span>省教育厅</span><span>1077552</span></li>
            <li><span>全省教育厅高考录取</span><span class="scroll-circle"></span><span>省教育厅</span><span>1077552</span></li>

            <!-- <li>2好消息！好消息！本店所有商品全部白送2</li>
          <li>3好消息！好消息！本店所有商品全部白送3</li>
          <li>4好消息！好消息！本店所有商品全部白送4</li>
          <li>5好消息！好消息！本店所有商品全部白送5</li>
          <li>6好消息！好消息！本店所有商品全部白送6</li>
          <li>7好消息！好消息！本店所有商品全部白送7</li>
          <li>8好消息！好消息！本店所有商品全部白送8</li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="right-second-wrap">
      <p class="right-title">数据共享交换</p>
      <div class="right-sceond-content">
        <div>
          <p class="sub-title">基础库共享交换量（次）</p>
          <ul>
            <li>
              <label>26540</label>
              <span>累计</span>
            </li>
            <li>
              <label>26540</label>
              <span>年度</span>
            </li>
            <li>
              <label>26540</label>
              <span>今日</span>
            </li>
          </ul>
        </div>

        <div>
          <p class="sub-title">主题库共享交换量（次）</p>
          <ul>
            <li>
              <label>26540</label>
              <span>累计</span>
            </li>
            <li>
              <label>26540</label>
              <span>年度</span>
            </li>
            <li>
              <label>26540</label>
              <span>今日</span>
            </li>
          </ul>
        </div>

        <div>
          <p class="sub-title">各部门库共享交换量（次）</p>
          <ul>
            <li>
              <label>26540</label>
              <span>累计</span>
            </li>
            <li>
              <label>26540</label>
              <span>年度</span>
            </li>
            <li>
              <label>26540</label>
              <span>今日</span>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</body>
<script src="./scroll.js"></script>

</html>