<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>page3</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/center.css">
  <link rel="stylesheet" href="css/startAnimation.css">
  <link rel="stylesheet" href="css/pop.css">
</head>

<body>
  <div class="box">
    <div class="title">
      <img src="img/top1.png" alt="">
      <img src="img/top2.png" alt="">
      <img class='light' src="img/top3.png" alt=""><div></div>
      <img src="img/top4.png" alt="">
    </div>
    <div class="center">
      <div class="line-box">
        <hr style="border-color: #c10000;"/>
        <hr style="border-color: #c10000;" />
        <hr style="border-color: #c10000;" />

        <hr style="border-color: rgb(62, 162, 168);" />
        <hr style="border-color: rgb(62, 162, 168);" />
        <hr style="border-color: rgb(62, 162, 168);" />

        <hr style="border-color: #c10000;"/>
        <hr style="border-color: #c10000;" />
        <hr style="border-color: #c10000;" />

        <hr style="border-color: #39d15e;" />
        <hr style="border-color: #39d15e;" />

        <hr style="border-color: #ff5083;" />
        <hr style="border-color: #ff5083;" />
        <hr style="border-color: #ff5083;" />
        <hr style="border-color: #ff5083;" />
        <hr style="border-color: #ff5083;" />
        <hr style="border-color: #ff5083;" />

        <hr style="border-color: rgb(62, 162, 168);" />
        <hr style="border-color: rgb(62, 162, 168);" />
        <hr style="border-color: rgb(62, 162, 168);" />
        <hr style="border-color: rgb(62, 162, 168);" />
        
      </div>

      <div class="qiu-box">
        <span class="h-qiu"></span>
        <span class="h-qiu"></span>
        <span class="h-qiu"></span>
        <span class="h-qiu"></span>
        <span class="h-qiu"></span>
        <span class="h-qiu"></span>
        <span class="h-qiu"></span>
      </div>

      <div class="jiantou-box">
        <img src="img/jiantou_red.png" alt="">
        <img src="img/jiantou_red.png" alt="">
        <img src="img/jiantou_red.png" alt="">
        <img src="img/jiantou_aque.png" alt="">
        <img src="img/jiantou_aque.png" alt="">
        <img src="img/jiantou_aque.png" alt="">
        <img src="img/jiantou_green.png" alt="">
        <img src="img/jiantou_pink.png" alt="">
        <img src="img/jiantou_pink.png" alt="">

        <img src="img/jiantou_big1.png" alt="">
        <img src="img/jiantou_big2.png" alt="">
        <img src="img/jiantou_big3.png" alt="">
        <img src="img/jiantou_big4.png" alt="">
        <img src="img/jiantou_big5.png" alt="">

        <img src="img/sign1.png" alt="">
        <img src="img/sign2.png" alt="">
        <img src="img/sign3.png" alt="">
        <img src="img/sign4.png" alt="">
        <img src="img/sign5.png" alt="">
        <img src="img/sign6.png" alt="">
        <img src="img/sign7.png" alt="">
      </div>
      <div class="img-box">
        <span>
          <img src="img/shenqing.png" alt="" id='click1'>
          <img src="img/shenqing_icon.png" alt="">
          <img src="img/shenqing_light.png" alt="">
          <img src="img/shenqing_text.png" alt="">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </span>
        <span>
          <img src="img/little_block.png" alt="">
          <img src="img/little_block_icon1.png" alt="">
          <img src="img/little_block_light.png" alt="">
          <img src="img/little_block_text1.png" alt="">
        </span>
        <span>
          <img src="img/little_block.png" alt="">
          <img src="img/little_block_icon2.png" alt="">
          <img src="img/little_block_light.png" alt="">
          <img src="img/little_block_text2.png" alt="">
        </span>
        <span>
          <img src="img/shenhe.png" alt="" id='click2'>
          <img src="img/shenhe_icon.png" alt="">
          <img src="img/shenhe_light.png" alt="">
          <img src="img/shenhe_text.png" alt="">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </span>

        <span>
          <img src="img/shenhe.png" alt="" id='click3'>
          <img src="img/fankui_icon.png" alt="">
          <img src="img/shenhe_light.png" alt="">
          <img src="img/fankui_text.png" alt="">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </span>

        <span>
          <img src="img/little_block.png" alt="">
          <img src="img/little_block_icon3.png" alt="">
          <img src="img/little_block_light.png" alt="">
          <img src="img/little_block_text3.png" alt="">
        </span>
        <span>
          <img src="img/little_block.png" alt="">
          <img src="img/little_block_icon4.png" alt="">
          <img src="img/little_block_light.png" alt="">
          <img src="img/little_block_text5.png" alt="">
        </span>
        <span>
          <img src="img/little_block.png" alt="">
          <img src="img/little_block_icon5.png" alt="">
          <img src="img/little_block_light.png" alt="">
          <img src="img/little_block_text4.png" alt="">
        </span>
        <span>
          <img src="img/banjie.png" alt="" id='click4'>
          <img src="img/banjie_icon.png" alt="">
          <img src="img/banjie_light.png" alt="">
          <img src="img/banjie_text.png" alt="">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </span>
        <span><img src="img/title_1.png" alt=""></span>
        <!-- 调度信息总览 .center>.img-box>span:nth-child(10)-->
        <span>
          <img src="img/diaodu_1.png" alt="">
          <img src="img/title_2.png" alt="">
          <span>
            <img src="img/diaodu_2.png" alt="">
            <p>1807</p>
            <p>申请总数（次）</p>
          </span>
          <span>
            <img src="img/diaodu_3.png" alt="">
            <p>978</p>
            <p>有条件申请</p>
          </span>
          <span>
            <img src="img/diaodu_3.png" alt="">
            <p>469</p>
            <p>协商通过</p>
          </span>
          <span>
            <img src="img/diaodu_3.png" alt="">
            <p>20</p>
            <p>协商不通过</p>
          </span>
          <span>
            <img src="img/diaodu_3.png" alt="">
            <p>489</p>
            <p>审核通过</p>
          </span>
          <span>
            <img src="img/diaodu_4.png" alt="">
            <p>819</p>
            <p>无条件申请</p>
          </span>
          <span class="diao-du-line">
            <hr style="border-color: rgb(62, 162, 168);" />
            <hr style="border-color: rgb(62, 162, 168);" />
            <hr style="border-color: rgb(62, 162, 168);" />
            <hr style="border-color: rgb(62, 162, 168);" />
  
            <hr style="border-color: #39d15e;" />
            <hr style="border-color: #39d15e;" />
            <hr style="border-color: #39d15e;" />
            <hr style="border-color: #39d15e;" />
            <hr style="border-color: #39d15e;" />

            <img src="img/jiantou_aque.png" alt="">
            <img src="img/jiantou_aque.png" alt="">
            <img src="img/jiantou_green.png" alt="">
            <img src="img/jiantou_green.png" alt="">
            <img src="img/jiantou_green.png" alt="">
          </span>
          
        </span>
        
      </div>
      <div class="right-wrap">
        <div class="right-first-wrap">
          <p class="right-title">接口调用数量</p>
          <div class="right-first-content">
            <p class="right-tab">
              <span>接口名称</span>
              <span>状态</span>
              <span>所属单位</span>
              <span>调用条数（条）</span>
            </p>
            <div class='scroll-content'>
              <div class="scroll-box">
                <p>
                  <span>全省教育厅高考录取教育厅高考录</span>
                  <span></span>
                  <span>所属单位</span>
                  <span>调用条数（条）</span>
                </p>
                <p>
                  <span>全省教育厅高考录取教育厅高考录</span>
                  <span></span>
                  <span>所属单位</span>
                  <span>调用条数（条）</span>
                </p>
                <p>
                  <span>全省教育厅高考录取教育厅高考录</span>
                  <span></span>
                  <span>所属单位</span>
                  <span>调用条数（条）</span>
                </p>
                <p>
                  <span>全省教育厅高考录取教育厅高考录</span>
                  <span></span>
                  <span>所属单位</span>
                  <span>调用条数（条）</span>
                </p>
                <p>
                  <span>全省教育厅高考录取教育厅高考录</span>
                  <span></span>
                  <span>所属单位</span>
                  <span>调用条数（条）</span>
                </p>
                <p>
                  <span>全省教育厅高考录取教育厅高考录</span>
                  <span></span>
                  <span>所属单位</span>
                  <span>调用条数（条）</span>
                </p>
              </div>
              <!-- <div class="scroll-box" id='copy-scroll'></div> -->
            </div>
          </div>
        </div>
        <div class="right-second-wrap">
          <p class="right-title">数据共享交换</p>
          <div class="right-sceond-content">
            <div>
              <p class="sub-title">基础库共享交换量（次）</p>
              <ul>
                <li>
                  <label>397373</label>
                  <span>累计</span>
                </li>
                <li>
                  <label>103259</label>
                  <span>年度</span>
                </li>
                <li>
                  <label>1135</label>
                  <span>今日</span>
                </li>
              </ul>
            </div>
    
            <div>
              <p class="sub-title">主题库共享交换量（次）</p>
              <ul>
                <li>
                  <label>397373</label>
                  <span>累计</span>
                </li>
                <li>
                  <label>103259</label>
                  <span>年度</span>
                </li>
                <li>
                  <label>1135</label>
                  <span>今日</span>
                </li>
              </ul>
            </div>
    
            <div>
              <p class="sub-title">各部门库共享交换量（次）</p>
              <ul>
                <li>
                  <label>397373</label>
                  <span>累计</span>
                </li>
                <li>
                  <label>103259</label>
                  <span>年度</span>
                </li>
                <li>
                  <label>1135</label>
                  <span>今日</span>
                </li>
              </ul>
            </div>
          </div>
    
        </div>
      </div>
    </div>


    <div class="foot">
      <img src="img/foot1.png" alt="">
      <span class="status">
        运行状态：<span>正常</span> 
        <img src="img/foot2.png" alt="">
        <marquee behavior="scroll" scrollamount="20">数据更新成功,更新时间</marquee>
      </span> 
    </div> 

    <div class="popup" id="popup">
      <div class="main">
        <div id='del1'></div>
        <div class="left" id='left'>
          <p id="top-p"></p>
          <div class="order-box"></div>
          <p id="foot-p"></p>
          <div class="order-box order-box2"></div>
        </div>
        <div class="right" id="right">
          <div class="circular"></div>
          <div class="tabel" style="color:white">
            <div class="thead">
              <span>序号</span>
              <span>资源名称</span>
              <span>审核状态</span>
              <span>提供部门</span>
              <span>申请部门</span>
              <span>操作</span>
            </div>
            <div class="tbody"></div>
          </div>
        </div>
      </div>
      <div class="side">
        <div id='del2'></div>
        <p class="side-top">资源详情</p>
        <div class="side-name">单位企业名称查询</div>
        <div class='side-content'>
          <p><span>资源提供部门：</span><span id="depart1">单个企业社会信用代码验证</span></p>
          <p><span>资源申请部门：</span><span id="depart2">单个企业社会信用代码验证</span></p>
          <p><span>联系人：</span><span>刘宝瑞</span></p>
          <p><span>联系电话：</span><span>13333298743</span></p>
          <p><span>服务接口调用峰值：</span><span>1000次/天</span></p>
          <p><span>服务接口使用期限：</span><span>365</span></p>
          <p><span>服务接口使用时间范围：</span><span></span>2019-01-03至2020-01-03</span></p>
          <p><span>使用流量限制：</span><span>M/S</span></p>
          <p><span>使用系统：</span><span>企业非法集资预警系统</span></p>
        </div>
      </div>
    </div>

  </div>
  
  <script>
    var domBody = document.getElementsByTagName("body")[0];
    var timer = false;
    function fit(){
      let rate = document.documentElement.clientWidth / 1920; 
      domBody.style.transformOrigin = 'left top';
      domBody.style.transform = 'scale(' + rate + ',' + rate + ')';
    }
    fit();
    window.onresize = function(){
      debounce(fit);
    }
    // 防抖
    function debounce(fn) {  
      clearTimeout(timer);
      timer = setTimeout(function(){
        fit();
      }, 300);
    }
    </script>
    <script src="index.js"></script>
</body>
</html>